@media (max-width: 767px) {
  .my-atropos3 {
    height: 20rem;
    width: 65%;
    /* margin-left: 25%; */
    /* border-radius: 10px; */
    /* overflow: hidden; */
  }
  .myPic {
    object-fit: cover;
    position: relative;
    width: 100%;
    /* bottom: 4rem; */
    height: 23rem;
  }
}

@media (max-width: 430px) {
  .my-atropos3 {
    height: 15rem;
    width: 65%;
    /* margin-left: 25%; */
    /* border-radius: 10px; */
    /* overflow: hidden; */
  }
  .myPic {
    object-fit: cover;
    position: relative;
    width: 100%;
    /* bottom: 4rem; */
    height: 18rem;
  }
}

@media (min-width: 768px) {
  .my-atropos3 {
    height: 23rem;
    width: 100%;
    margin-left: 25%;
    /* border-radius: 10px; */
    /* overflow: hidden; */
  }
  .myPic {
    object-fit: cover;
    position: relative;
    width: 100%;
    bottom: 2rem;
    height: 30rem;
  }
}

#portfolioLogo {
  font-size: 1.5rem;
  cursor: pointer;
}

#portfolioLogo:hover {
  color: rgb(255, 208, 0);
}

#linkedinLogo {
  font-size: 1.5rem;
  cursor: pointer;
}

#linkedinLogo:hover {
  color: rgb(0, 60, 255);
}

#githubLogo {
  font-size: 1.5rem;
  cursor: pointer;
}

#githubLogo:hover {
  color: blueviolet;
}

.techLogo {
  height: 4rem;
  object-fit: contain;
}
