.navbarPic {
  object-fit: cover;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  margin-left: 1rem;
}

.pointSpace {
  bottom: 0;
  left: 40%;
  margin: 1rem;
  padding: 0.5rem;
  position: absolute;
  border: 1px solid white;
  border-radius: 10px;
  background-color: black;
}

.homePoints {
  font-size: 0.8rem;
  display: block;
}

.ruleModalPic {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

@media (min-width: 576px) {
  .infoLogo {
    position: absolute;
    bottom: 90%;
    left: 90%;
    color: black;
    font-size: 2rem;
    padding: 0;
    margin: 0;
    cursor: pointer;
  }

  .infoLogo:hover {
    transform: scale(1.5);
  }

  .wallpaper {
    width: 100%;
    object-fit: cover;
    height: 100vh;
  }
}

@media (max-width: 575px) {
  .sidebar {
    display: none;
  }

  .wallpaper {
    width: 100%;
    object-fit: cover;
    height: 100vh;
  }

  .infoLogo {
    position: absolute;
    bottom: 5%;
    left: 5%;
    color: rgb(0, 102, 255);
    font-size: 2rem;
    z-index: 0;
  }

  .picContain {
    position: absolute;
  }
}
