.team-member {
  border: 1px white solid;
  /* width: 25%; */
  margin: auto;
  border-radius: 8px;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.team-member i {
  font-size: 5rem;
}

.team-member:hover {
  transform: scale(1.05);
}
