@media (max-width: 991px) {
  .my-atropos2 {
    width: 100%;
    height: 20rem;
  }

  #teamBackground {
    position: relative;
    bottom: 70px;
    height: 25rem;
    object-fit: contain;
  }

  #slotA {
    position: relative;
    bottom: 280px;
    height: 11rem;
    object-fit: contain;
    z-index: 10;
  }

  #slotB {
    position: relative;
    bottom: 270px;
    height: 11rem;
    object-fit: contain;
    z-index: 10;
  }

  #slotC {
    position: relative;
    bottom: 280px;
    height: 11rem;
    object-fit: contain;
    z-index: 7;
  }
}

@media (max-width: 576px) {
  .my-atropos2 {
    width: 100%;
    height: 20rem;
  }

  #teamBackground {
    position: relative;
    bottom: 70px;
    height: 25rem;
    object-fit: contain;
  }

  #slotA {
    position: relative;
    bottom: 320px;
    height: 13rem;
    object-fit: contain;
    z-index: 10;
  }

  #slotB {
    position: relative;
    bottom: 310px;
    height: 13rem;
    object-fit: contain;
    z-index: 10;
  }

  #slotC {
    position: relative;
    bottom: 320px;
    height: 13rem;
    object-fit: contain;
    z-index: 7;
  }
}

@media (max-width: 365px) {
  .my-atropos2 {
    width: 100%;
    height: 15rem;
  }

  #teamBackground {
    position: relative;
    bottom: 110px;
    height: 25rem;
    object-fit: contain;
  }

  #slotA {
    position: relative;
    bottom: 320px;
    height: 6rem;
    object-fit: contain;
    z-index: 10;
  }

  #slotB {
    position: relative;
    bottom: 310px;
    height: 8rem;
    object-fit: contain;
    z-index: 10;
  }

  #slotC {
    position: relative;
    bottom: 320px;
    height: 8rem;
    object-fit: contain;
    z-index: 7;
  }
}

@media (min-width: 992px) {
  .my-atropos2 {
    width: 80%;
    height: 20rem;
  }

  #teamBackground {
    width: 100%;
    position: relative;
    bottom: 105px;
  }

  #slotA {
    width: 20%;
    position: relative;
    bottom: 390px;
    height: 15rem;
    object-fit: contain;
    z-index: 10;
    left: 60px;
  }

  #slotB {
    width: 20%;
    position: relative;
    bottom: 360px;
    height: 15rem;
    object-fit: contain;
    z-index: 10;
  }

  #slotC {
    width: 20%;
    position: relative;
    bottom: 390px;
    height: 15rem;
    object-fit: contain;
    z-index: 7;
    right: 60px;
  }
}

@media (min-width: 1076px) {
  .my-atropos2 {
    width: 85%;
    height: 25rem;
  }

  #teamBackground {
    position: relative;
    bottom: 75px;
    height: 30rem;
    object-fit: cover;
  }

  #slotA {
    position: relative;
    bottom: 340px;
    height: 15rem;
    object-fit: contain;
    z-index: 10;
  }

  #slotB {
    position: relative;
    bottom: 330px;
    height: 15rem;
    object-fit: contain;
    z-index: 10;
  }

  #slotC {
    position: relative;
    bottom: 340px;
    height: 15rem;
    object-fit: contain;
    z-index: 7;
  }
}
